@page "/"
@using Microsoft.EntityFrameworkCore
@using MudBlazor
@rendermode InteractiveServer
@inject ApplicationDbContext DbContext;
<PageTitle>Home</PageTitle>
<h1>Hello, world!</h1>
<h4>Читаем readme.txt файл)</h4>